{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="cont-fluid mb-3 mx-0">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkP7KaDWrPZX6AYqTi7RCAyEhUloW7tPJ-Uwp-UX3bJSdAfnhc"
                    class="d-block slid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 id="sliderlable"><b>Ice Cream Cones</b></h3>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Ot7sTJ7TFZatwrU6SBB-OeX-3DrH4Fo8Pq_yrpu3mlIv2KEm"
                    class="d-block slid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 id="sliderlable"><b>Ice Cream Bars</b></h3>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTdMCAwi8kHCzB4d1ZSGceuD1tWAfcfIxE_ozSiVzz81Ym2vDlU"
                    class="d-block slid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 id="sliderlable"><b>Cassatas</b></h3>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS852KBwxT_KEXi6VL7McDBl_jJo-dSkVl4SG1YiwXBFbn9HODa"
                    class="d-block slid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 id="sliderlable"><b>Ice Cream Cups</b></h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEsrVDdW70Lq4A9wiAsC7tER70RQNArMuUrQ&usqp=CAU"
                    class="d-block slid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 id="sliderlable"><b>Ice Cream Family Pack</b></h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsNM7MTehVyzI8dtuqK4n6ahLqrDyXtsshTw&usqp=CAU"
                    class="d-block slid" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 id="sliderlable"><b>Softy Ice Cream</b></h3>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container">
    <h4>
        <ul>
            <li type="square">Ice Creams Of Our Store:</li>
        </ul>
    </h4>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://2.imimg.com/data2/TV/LB/MY-2299719/vadilal-cones-500x500.jpg"
                            class="ice">

                        <div class="card-body">
                            <h5 align="center">Vadilal Ice Cream Cone Pack</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary" href="/buy1" role="button">Buy Now</a>
                                </div>
                                <h6 class="text-muted">Price: &#8377;{{conePack}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSjczbtE78ntUFGaML39fgyARp5wSCZ5ovToHYFPBNDzfadF9sT"
                            class="ice">

                        <div class="card-body">
                            <h5 align="center">Kwality Walls Family pack</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary" href="/buy2" role="button">Buy Now</a>
                                </div>
                                <h6 class="text-muted">Price: &#8377;{{familyPack}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSvkA9wm9CPxo4TfbtgrAckqsTryUmALANdfGAuykpzL1A7uvtr"
                            class="ice">

                        <div class="card-body">
                            <h5 align="center">Vadilal ChocoBar</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary" href="/buy3" role="button">Buy Now</a>
                                </div>
                                <h6 class="text-muted">Price: &#8377;{{chocobar}}</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIda9co7eFHxG00Y1OcNGdZdwW3InlFUeWYpj7Ra32zn4ZB5Gq"
                            class="ice">

                        <div class="card-body">
                            <h5 align="center">Havmor Cassata Ice Cream Cake</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary" href="/buy4" role="button">Buy Now</a>
                                </div>
                                <h6 class="text-muted">Price: &#8377;{{cassataCake}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUQ_crA05G40vqEF8TQMISD-1G8vBMoj98u6lr-0aZLfRmaPVj"
                            class="ice">

                        <div class="card-body">
                            <h5 align="center">AMUL Vanilla Ice Cream Cup</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary" href="/buy5" role="button">Buy Now</a>
                                </div>
                                <h6 class="text-muted">Price: &#8377;{{cup}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQE1TDJPOdI-jZ3ZjtZR57xNPhhpVKESS4MCnfdb29wGaSaWqMO"
                            class="ice">
                        <div class="card-body">
                            <h5 align="center">Dreyer's Teddy Bear Ice Cream Cone</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary" href="/buy6" role="button">Buy Now</a>
                                </div>
                                <h6 class="text-muted">Price: &#8377;{{teddy}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzgWio3FovquXIS1NasnRdAhJ0N6ITQTK9Rg&usqp=CAU"
                            class="ice">
                        <div class="card-body">
                            <h5 align="center">Vadilal Cassata Ice Cream</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary" href="/buy7" role="button">Buy Now</a>
                                </div>
                                <h6 class="text-muted">Price: &#8377;{{cassata}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRyu5lFbcWzmRRX6r5YEB2fCmuAqVbD4nTNyjUl75ji_bxI-k0t"
                            class="ice">
                        <div class="card-body">
                            <h5 align="center">Havmor Black Currant Ice Cream</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary" href="/buy8" role="button">Buy Now</a>
                                </div>
                                <h6 class="text-muted">Price: &#8377;{{black}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}